SERVER_PORT=8000
JWT_SECRET=secret
JWT_LICENSE=secret
BODY_PARSER_LIMIT_MB=20mb
# Prefix for all routes. E.g., if set to "api", all routes will be accessed under "/api"
GLOBAL_PREFIX=

# ------------------------- DEVELOP ----------------------------------------
# ------------ Database variables ------------
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=secret
DB_NAME=my-db
DB_SCHEMA=schema
ORM_LOG=1