# Create a .env file or rename this one

MODULE_NOMENCLATURE_SEPARATOR=-
MODELS_OUTPUT_PATH=/home/vic/documents/models/
MODELS_INPUT_PATH=/home/vic/source-code/app/db/
# Set a drawDB json file
MODELS_FILE_NAME=draw-db-model.json
GENERATE_FOREIGN_KEYS=True
# DB_SCHEMA=vic